@include extjs-panel-ui (
	$ui:'highlight-framed',
	$ui-header-background-color:#F4F4F4,
	$ui-border-color:#F4F4F4,
	$ui-header-border-color:#F4F4F4,
	$ui-body-border-color:#F4F4F4,
	$ui-header-color:#317040
);