/*
 * This is is imported by virtue of "sass.var" in "app.json". base-color:#317040	#32404e
 */

$enable-font-awesome: dynamic(true);
$body-background-color: dynamic(transparent);
$base-color: #317040;
$enable-font-icons: dynamic(true);